*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "CommissionerRegular";
  src: URL("../fonts/Commissioner-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CommissionerMedium";
  src: URL("../fonts/Commissioner-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "CommissionerSemiBold";
  src: URL("../fonts/Commissioner-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CommissionerLight";
  src: URL("../fonts/Commissioner-Light.ttf") format("truetype");
}
button {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 10px 25px;
}
button a {
  text-decoration: none;
  color: inherit;
}
button + button {
  margin-left: 12px;
}
button.btn-pink {
  background: #e73c7e;
  border: 1px solid #e73c7e;
  color: #fff;
}
button.btn-pink:not([disabled]):hover {
  border-color: #e73c7e;
  background: #df1b67;
  transition: all 0.3s ease;
}
button.btn-white {
  border: 1px solid #4b4b4b;
  color: #4b4b4b;
  background-color: #fff;
}
button.btn-white:not([disabled]):hover {
  border-color: #373737;
  color: #373737;
  transition: all 0.3s ease;
}
button:not(:disabled) {
  cursor: pointer;
}
button:disabled {
  background-color: #ececec;
  border-color: #ececec;
  color: #6d6d6d;
}

/*html {
  --s: 212px;
  --c1: #f2f2f2;
  --c2: #ffffff;
  --c3: #f7f7f7;

  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
}*/
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  height: 100vh;
  font-family: CommissionerRegular, sans-serif;
  color: #222222;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 30px 20px;
}
.container h1 {
  font-family: CommissionerSemiBold, sans-serif;
  font-size: clamp(1.625rem, 1.321rem + 1.52vw, 3.125rem);
  color: #fff;
  margin-bottom: 30px;
}
.container .block[data-name=study-project-index] .block__image div {
  background-image: url(../img/pr_1.png);
}
.container .block {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.container .block:hover .block__image div {
  transform: scale(1.2);
}
.container .block .block__image {
  flex: 1 0 15em;
  min-height: 150px;
  overflow: hidden;
  display: flex;
  border-right: 1px solid #e7e7e7;
}
@media (max-width: 600px) {
  .container .block .block__image {
    border-right: none;
    border-bottom: 1px solid #e7e7e7;
  }
}
.container .block .block__image div {
  background-size: cover;
  transition: transform 1s;
  width: 100%;
  height: 100%;
}
.container .block .block__content {
  flex: 4 0 15em;
  margin: 20px;
  width: 70%;
  flex-shrink: 0;
}
.container .block .block__content .block__content-header {
  font-family: CommissionerMedium, sans-serif;
  font-size: clamp(1.125rem, 1.049rem + 0.38vw, 1.5rem);
}
.container .block .block__content .block__content-descr {
  margin: 30px 0;
}
.container .block .block__content .block__content-descr p + p {
  margin-top: 10px;
}
.container .block .block__content .block__content-descr ul {
  margin-top: 10px;
  list-style: disc;
}
.container .block .block__content .block__content-descr li {
  margin-top: 5px;
  margin-left: 30px;
  color: #6d6d6d;
}
.container .block + .block {
  margin-top: 15px;
}/*# sourceMappingURL=main.css.map */